# Python bytecode
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/

# 환경 변수/비밀키 파일
.env

# IDE 설정
.vscode/
.idea/
*.swp


# 로그/임시 파일
*.log
*.tmp

